bak==0.4.3
batchgenerators==0.25.1
efficientnet_pytorch==0.7.1
einops==0.8.1
fvcore==0.1.5.post20221221
h5py==3.7.0
inplace_abn==1.1.0
mamba_ssm==2.2.4
numpy==1.23.5
Pillow==9.3.0
Pillow==11.1.0
PyYAML==6.0
PyYAML==6.0.2
scipy==1.9.3
skimage==0.0
tensorboardX==2.6.2.2
termcolor==2.5.0
timm==0.9.7
torch==1.13.1
tqdm==4.66.1
yacs==0.1.8
